﻿@model ShopTryCatch.Models.ViewModels.ProductPage
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Try Catch Store</h1>
    <p class="lead">Be as quick as a catch block and get our offers before they overflow our stack!</p>
</div>

<input type="hidden" value='@Html.Raw(Json.Encode(Model))' id="first-page" />

<div ng-show="currentScreenIs(productListScreen)">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Product name</td>
                <td>Price (untaxed)</td>
                <td>Price (taxed)</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in page.Elements">
                <td>{{ product.Name }}</td>
                <td>{{ product.Price | currency : "€ " }}</td>
                <td>{{ product.FinalPrice | currency : "€ " }}</td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-xs btn-default" role="button" ng-click="addToCart(product)">Add to cart</a>
                    <button class="btn btn-success btn-xs" type="button" ng-click="productDetails(product)"><i class="glyphicon glyphicon-eye-open"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="btn btn-xs btn-primary" role="button" ng-show="page.PageNum > 0" ng-click="getPage(0)">First</a>
    <a href="javascript:void(0)" class="btn btn-xs btn-primary" role="button" ng-show="page.PageNum > 0" ng-click="getPage(page.PageNum - 1)">Previous</a>
    Page {{ page.PageNum + 1 }} of {{ page.MaxPage }}
    <a href="javascript:void(0)" class="btn btn-xs btn-primary" role="button" ng-show="page.PageNum < page.MaxPage - 1" ng-click="getPage(page.PageNum + 1)">Next</a>
    <a href="javascript:void(0)" class="btn btn-xs btn-primary" role="button" ng-show="page.PageNum < page.MaxPage - 1" ng-click="getPage(page.MaxPage - 1)">Last</a>
</div>

<div ng-show="currentScreenIs(reviewScreen)">
    <h2>Review your order</h2>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <td>Product name</td>
                <td>Amount</td>
                <td>Price (untaxed)</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in cart">
                <td>{{ product.Name }}</td>
                <td>{{ product.Amount }}</td>
                <td>{{ product.Price * product.Amount | currency : "€ " }}</td>
                <td>
                    <button class="btn btn-success btn-xs" type="button" ng-click="productDetails(product)"><i class="glyphicon glyphicon-eye-open"></i></button>
                    <button class="btn btn-danger btn-xs" type="button" ng-click="removeFromCart(product.ID)"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>Total (untaxed)</td>
                <td>{{ cartTotalUntaxed() | currency : "€ " }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Taxes</td>
                <td>{{ cartTaxes() | currency : "€ " }}</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td>{{ cartTotal() | currency : "€ " }}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" type="button" ng-click="changeScreen(orderScreen)" ng-disabled="!cartCount()">Continue</button>
    <button class="btn btn-primary" type="button" ng-click="changeScreen(productListScreen)">Back</button>
</div>

<div ng-show="currentScreenIs(orderScreen)">
    <form name="orderForm" class="form-horizontal" ng-submit="orderForm.$valid && submitOrder()" novalidate>
        <div class="form-group" ng-class="{ 'has-error': !orderForm.FirstName.$valid && orderForm.FirstName.$dirty }">
            <label class="col-md-2 control-label" for="FirstName">First name</label>
            <div class="col-md-10">
                <input class="form-control" id="FirstName" name="FirstName" type="text" ng-model="order.FirstName" required>
                <span class="help-block" ng-show="orderForm.FirstName.$error.required && orderForm.FirstName.$dirty">You must enter a first name.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.LastName.$valid && orderForm.LastName.$dirty }">
            <label class="col-md-2 control-label" for="LastName">Last name</label>
            <div class="col-md-10">
                <input class="form-control" id="LastName" name="LastName" type="text" ng-model="order.LastName" required>
                <span class="help-block" ng-show="orderForm.LastName.$error.required && orderForm.LastName.$dirty">You must enter a last name.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.Address.$valid && orderForm.Address.$dirty }">
            <label class="col-md-2 control-label" for="Address">Address</label>
            <div class="col-md-10">
                <input class="form-control" id="Address" name="Address" type="text" ng-model="order.Address" required>
                <span class="help-block" ng-show="orderForm.Address.$error.required && orderForm.Address.$dirty">You must enter an address.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.HouseNumber.$valid && orderForm.HouseNumber.$dirty }">
            <label class="col-md-2 control-label" for="HouseNumber">House number</label>
            <div class="col-md-10">
                <input class="form-control" id="HouseNumber" name="HouseNumber" type="text" ng-model="order.HouseNumber" required>
                <span class="help-block" ng-show="orderForm.HouseNumber.$error.required && orderForm.HouseNumber.$dirty">You must enter a house number.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.ZipCode.$valid && orderForm.ZipCode.$dirty }">
            <label class="col-md-2 control-label" for="ZipCode">Zip code</label>
            <div class="col-md-10">
                <input class="form-control" id="ZipCode" name="ZipCode" type="number" ng-model="order.ZipCode" required>
                <span class="help-block" ng-show="orderForm.ZipCode.$error.required && orderForm.ZipCode.$dirty">You must enter a zip code.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.City.$valid && orderForm.City.$dirty }">
            <label class="col-md-2 control-label" for="City">City</label>
            <div class="col-md-10">
                <input class="form-control" id="City" name="City" type="text" ng-model="order.City" required>
                <span class="help-block" ng-show="orderForm.City.$error.required && orderForm.City.$dirty">You must enter a city name.</span>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error': !orderForm.Email.$valid && orderForm.Email.$dirty }">
            <label class="col-md-2 control-label" for="Email">email</label>
            <div class="col-md-10">
                <input class="form-control" id="Email" name="Email" type="email" ng-model="order.Email" required>
                <span class="help-block" ng-show="orderForm.Email.$error.email && orderForm.Email.$dirty">You must enter a valid email address.</span>
                <span class="help-block" ng-show="orderForm.Email.$error.required && orderForm.Email.$dirty">You must enter an email address.</span>
            </div>
        </div>

        <input type="submit" value="Create" class="btn btn-success" ng-disabled="!orderForm.$valid" />
        <button class="btn btn-primary" type="button" ng-click="changeScreen(reviewScreen)">Back</button>
    </form>
</div>

<div ng-show="currentScreenIs(thankYouScreen)">
    <h1>Thank you!</h1>
    <p>Your order has been placed and our drones are currently sending everything you requested to your home. Remember to keep an open window!</p>
    <button class="btn btn-primary" type="button" ng-click="changeScreen(productListScreen)">Back</button>
</div>

<div id="cart-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Your cart</h3>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <td>Product name</td>
                            <td>Amount</td>
                            <td>Price (untaxed)</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in cart">
                            <td>{{ product.Name }}</td>
                            <td>{{ product.Amount }}</td>
                            <td>{{ product.Price * product.Amount | currency : "€ " }}</td>
                            <td>
                                <button class="btn btn-success btn-xs" type="button" ng-click="productDetails(product)"><i class="glyphicon glyphicon-eye-open"></i></button>
                                <button class="btn btn-danger btn-xs" type="button" ng-click="removeFromCart(product.ID)"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total (untaxed)</td>
                            <td>{{ cartTotalUntaxed() | currency : "€ " }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Taxes</td>
                            <td>{{ cartTaxes() | currency : "€ " }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td>{{ cartTotal() | currency : "€ " }}</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" type="button" ng-click="changeScreen(reviewScreen)" ng-disabled="!cartCount()">Place order</button>
                <button class="btn btn-warning" type="button" ng-click="closeModal('#cart-modal')">Close</button>

            </div>
        </div>
    </div>
</div>

<div id="details-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">{{ selectedProduct.Name }}</h3>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{ selectedProduct.Name }}</dd>
                    <dt>Description</dt>
                    <dd>{{ selectedProduct.Description }}</dd>
                    <dt>Price</dt>
                    <dd>{{ selectedProduct.Price }}</dd>
                    <dt>Taxes</dt>
                    <dd>{{ selectedProduct.Tax }}</dd>
                    <dt>Taxed price</dt>
                    <dd>{{ selectedProduct.FinalPrice }}</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-click="closeModal('#details-modal')">Close</button>

            </div>
        </div>
    </div>
</div>
